#Customers{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em
}
#customers-imgs{
    width: 65%;
}

@media screen and (max-width: 768px){
    #Customers{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #customers-imgs{
        width: 100%;
    }
    #customers-imgs img{
        width: 100%;
    }
}