#About{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-flow: row;
    width: 100%; /* esto soluciono lo torpe de la renderizacion */
}
#about-selection{
    width: 30vh;
    height: 42vh;
}

/* #cont-selection{
    display: flex;
    flex-direction: column;
} */
#cont-selection img{
    width: 10vh;
    margin-top: 3em;
    margin-left: 1em;
    margin-bottom: 2em;
}
#cont-selection a{
    margin-left: 2em;
    margin-top: .3em;
    text-decoration: none;
    color: white;
}

#cont-selection a:hover{
    filter: brightness(3); /* Ajusta el valor según la intensidad de brillo deseada */
    transition: filter 0.1s ease; /* Controla la velocidad y suavidad de la transición */
    color: rgba(97, 106, 212, 0.854);
}

.info-selection{
    width: 65%;
}

#text-history{
    display: flex;
    width: 100%;
}
#text-history p{
    margin-right: 2em;
    margin-top: 2em;
    width: 100%;
}
#text-history p:last-child{
    margin-right:0;
}
/* MARKET INFO */
#markets-info{
    display: flex;
    width: 100%;
}

.img-market{
    margin-right: 5em;
}
