#Development{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 42vh;
}
#img-title{
    width: 40%;
    margin: 0 auto;

}

#dev1{
    margin-left: 19em;
}
#dev2{
    margin-right: 19em;
}

.develop-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
}


.development-text{
    display: flex;
    justify-content: center;
}   

.development-text h2{
    width: 50%;
    text-align: center;
    font-size: 1.1em;
    margin: .3em;
}

@media screen and (max-width: 768px){
    #Development{
    height: inherit;

    }
    .develop-cont{
        width: inherit;
    }
    #dev1, #dev2{
        margin-left: 0;
        margin-right: 0;  
        margin-bottom: 1em; 
        margin-top: 3em; 
    }
    .development-text h2{
        scale: 1.3;
        font-size: 2em;
    }
    #img-title{
        width: 80%;
        margin-bottom: 1.6em;
        margin-top: 2em; 

    }
}