#text-home {
    display: flex;
    justify-content: center;
    width: 70%;
}

#text-home p {
    width: 100%;
    margin-right: 2em;
    margin-left: 1.5em;
}

#cont-slide {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#options-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #cont-slide {
        display: block;
    }

    .slide-main img {
        width: 100%;
    }

    #options-and-text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #text-home {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: initial;
    }

    #text-home p {
        width: 90%;
        margin-bottom: .3em;
        font-size: 1.2em;
    }
}