header {
    background: no-repeat url("/images/header/header_fondo.png");
    background-position: center top;
    width: 100%;
}

#header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 11vh;
}

#header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

#header img {
    cursor: pointer;
}

#header img:hover {
    scale: 1.1;
    filter: brightness(2);
    /* Ajusta el valor según la intensidad de brillo deseada */
    transition: filter 0.5s ease;
    /* Controla la velocidad y suavidad de la transición */
}

#a-home {
    margin-left: 2em;
}

#idiomas {
    margin-top: .5em;
}

#header nav {
    margin-top: 2.5em;
    margin-left: 15em;
}

#nav-options ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#nav-options ul li {
    margin-right: 3em;
}

#div-img-logo-cozz {
    display: flex;
    width: 33%;
}

#div-img-logo-cozz img {
    margin: 0 auto;
}

#div-img-logo-cozz .a {
    margin-top: .3em;
    margin-right: 40em;
}


/* Estilos para la versión móvil (media query) */
@media screen and (max-width: 768px) {
    header{
        height: inherit;
        position: fixed;
        padding-bottom: 1.5vh;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Color de fondo de la barra de navegación */
        z-index: 1000; /* Asegura que la barra de navegación esté en la parte superior */
        background-image: none;
    }

    /* Aquí puedes aplicar estilos específicos para pantallas más pequeñas */
    #header {
        background-color: #333; /* Cambia el color de fondo según tus preferencias */
        color: #fff; /* Cambia el color del texto según tus preferencias */
        height: inherit;
        /* Reduce el espacio alrededor del contenido del encabezado en pantallas pequeñas */
    }
    #header nav {
        margin-left: inherit;
        margin-top: .6em;
    }

    #header-top{
        display: flex;    
        justify-content:space-around;
        width: 100%;
    }
    #header-top img{
        scale: 1.2;
    }
    #header-top img:hover{
        scale:1.3;
    }


    #nav-options img:hover {
        scale:1.1;
        filter: brightness(3);
        /* Ajusta el valor según la intensidad de brillo deseada */
        transition: filter 0.5s ease;
        /* Controla la velocidad y suavidad de la transición */
    }

    #idiomas img{
        margin: .3em;
    }

    #nav-options ul {
        flex-direction: row;
        justify-content: center;
    }

    #div-img-logo-cozz{
        margin-top: .4em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #div-img-logo-cozz img{
        width: 45%;
    }


    #nav-options ul li{
        margin-right: 0;
    }
    #nav-options ul li img{
        width: 100%;
    }

}