#foo-options {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: 2em;
    cursor: pointer;
}


@media (max-width: 768px) {
    #foo-options {
        flex-direction: column;
        height: 100%;
        width: 45%;
    }


    #foo-options img{
        scale: 1.4;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        width: 95%;
        border-radius: .5em;
    }

    #separator img {
        width: 100%;
    }

    #container-menu-static{
        height: inherit;
    }
}