#foo-options {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-left: 2em;
    cursor: pointer;
}

#separator{
    background-color: transparent; /* Fondo transparente */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.212); /* Agrega sombra */
  
}


@media (max-width: 768px) {
    #cont-selection{
        background: #333;
    }

    #foo-options {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }


    #foo-options img{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        width: 80%;
        border-radius: .5em;
        margin-bottom: 1em;
    }
    
    #foo-options img:hover{
        filter: brightness(2);
        transition: filter 0.5s ease;
    }

    #separator img {
        width: 100%;
    }

    #container-menu-static{
        height: inherit;
    }
}